@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<NewMovie>

<table>
    <thead>
        <tr>
            <td>Movie ID</td>
            <td>Category ID</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Copied To Plex</td>
            <td>Notes</td>
        </tr>
    </thead>

    @foreach (var m in Model)
    {
        <tbody>
            <tr>
                <td>@m.MovieID</td>
                <td>@m.CategoryID</td>
                <td>@m.Title</td>
                <td>@m.Year</td>
                <td>@m.Director</td>
                <td>@m.Rating</td>
                <td>@m.Edited</td>
                <td>@m.LentTo</td>
                <td>@m.CopiedToPlex</td>
                <td>@m.Notes</td>
            </tr>
        </tbody>
    }
</table>
