@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            @* <th>Movie ID</th> *@
            <th>Category</th>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Copied To Plex</th>
            <th>Notes</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                @* <td>@x.MovieID</td> *@
                @foreach (Categories c in ViewBag.ViewCategory)
                {
                    if (c.CategoryID == x.CategoryID)
                    {
                        <td>@c.Category</td>
                    }
                }
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.CopiedToPlex</td>
                <td>@x.Notes</td>

                <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieID">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.MovieID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
